.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

body {
    background-color: rgb(189, 235, 231);
}  

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
  }

.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    background-color: wheat;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;
}  

#status {
    font-style: italic;
    font-size: xx-large;
}

#scoreboard .row {
    justify-content: space-between;
    width: 370px; 
    font-size: xx-large;
    text-align: center;
}

.button1 {
    background-color: #008CBA;
}

.button2 {
    background-color: #555555;
}
